@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-navbar {
  background-color: transparent !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Bottom shadow only */
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.heroHeadding {
  font-size: 50px;
}

#about p {
  font-size: 1.05rem;
  line-height: 1.7;
}

#services {
  font-family: "Poppins", sans-serif;
}

.service-card {
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.text-primary {
  color: #0d6efd !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
